<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}

        <form>
            <input type="text" placeholder="Location" required>
            <button>Search</button>
        </form>
        <br />
        <main>
            <div class="bg">
                <section class="location">
                    <div class="city" id="city">Mumbai, Maharashtra, India</div>
                    <div class="date" id="date">Tue, 22 Jun 2021 18:15:00 GMT</div>
                </section>
                <div class="current">
                    <div class="temp" id="temp">21<span>째c</span></div>
                    <div class="feel" id="feel">Feels like: 26<span>째c</span></div>
                    <div class="weather" id="weather">Overcast</div>
                    <div class="hi-low" id="hi-low">19째c / 24째c</div> <br />
                    <div class="details" id="details">Wind Speed: 6.2kmph&nbsp;&nbsp;&nbsp;&nbsp; Humidity: 51%</div>
                </div>
            </div>
        </main>
    </div>

    {{>footer}}

    <script src="./js/app.js"></script>
</body>

</html>